<div class="row">
    <div class="col-md-3">
        <h2>Virtual Reality, a history</h2>
        <ul>
            <li>Heads up displays</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Hardware</h2>
        <ul>
            <li><a href="link">url</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Platforms</h2>
        <ul>
            <li><a href="link">url</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Development</h2>
        <ul>
            <li><a href="https://developer.microsoft.com/en-us/windows/mixed-reality">Microsoft Mixed Reality</a></li>
            <li><a href="https://aws.amazon.com/sumerian/">Amazon Sumerian</a></li>
            <li><a href="https://developer.vive.com/uk/">VIVE Development</a></li>
            <li><a href="https://developer.oculus.com/">Oculus Development</a></li>
            <li><a href="https://unity3d.com/learn/tutorials/s/xr">Unity3D VR Development</a></li>
            <li><a href="https://www.unrealengine.com/en-US/vr">Unreal engine VR</a></li>
            <li><a href="https://webvr.info/">WebVR Development</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebVR_API">WebVR Development (Mozilla)</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sources</h2>
        <p class="sources"></p>
    </div>
</div>
<!--
    https://www.digitaltrends.com/cool-tech/history-of-virtual-reality/
    https://www.vrs.org.uk/virtual-reality/who-invented-it.html
    https://www.vrs.org.uk/virtual-reality/history.html
    https://en.wikipedia.org/wiki/Virtual_reality
    https://medium.com/lassondeschool/the-surprising-history-of-vr-25f92a1d4b89
    http://www.sciencefocus.com/article/history-of-virtual-reality
    http://developer.samsung.com/tech-insights/gear-vr/the-history-of-vr
    https://en.wikipedia.org/wiki/PlayStation_VR
    https://www.theverge.com/2017/9/1/16232704/microsoft-windows-mixed-reality-headsets-controllers
    https://www.microsoft.com/en-us/mixed-reality
    https://www.wired.com/2016/04/magic-leap-vr/
    http://time.com/3986185/virtual-reality-headset/
    https://www.engadget.com/2018/03/08/sky-vr-david-attenborough-natural-history-museum/
    https://en.wikipedia.org/wiki/Sensorama
    http://www.mortonheilig.com/TelesphereMask.pdf
    https://www.theguardian.com/technology/jaron-lanier
    https://en.wikipedia.org/wiki/HTC_Vive
    https://www.oculus.com
    https://www3.lenovo.com/us/en/virtual-reality-and-smart-devices/virtual-and-augmented-reality/lenovo-explorer/Lenovo-Explorer/p/G10NREAG0A2
    https://www.microsoft.com/en-gb/windows/windows-mixed-reality


-->
